<p id="notice"><%= notice %></p>
  <%= content_for :title, "FSDB Public Service Announcement for the week:" %>

<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <%= link_to 'ALL', tips_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%# link_to 'Edit', edit_tip_path(@tip), class: "nav-link" %>
        <%= link_to 'NEW', new_tip_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'RANDOM', { action: :random_tip }, class: "nav-link active" %>
      </li>
    </ul>
  </div>

  <div class="card border-success mx-auto" style="max-width: 30rem;">
    <div class="card-header">
      <%= @RandomTip.title %>
    </div>
    <div class="card-body">
        <%= @RandomTip.body %>
    </div>
  </div>

</div>
